Flask
flask-cors
flask-bcrypt
flask-login
Werkzeug
gunicorn
pymongo[srv]
dnspython
sentence-transformers
faiss-cpu
numpy
scikit-learn
pandas
groq
bcrypt
python-dotenv
requests
transformers
torch
tokenizers